<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usermanage.usermanage.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.usermanage.usermanage.bean.Department" >
    <id column="dep_id" property="depId" jdbcType="INTEGER" />
    <result column="dep_name" property="depName" jdbcType="VARCHAR" />
    <result column="dep_order" property="depOrder" jdbcType="INTEGER" />
    <result column="dep_pid" property="depPid" jdbcType="INTEGER" />
    <result column="dep_state" property="depState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    dep_id, dep_name, dep_order, dep_pid, dep_state
  </sql>

  <select id="selectall" resultMap="BaseResultMap" parameterType="string">
    select * from department
    <where>
      <if test="name!=null">
        dep_name like concat('%',#{name},'%')
      </if>
    </where>
    order by dep_order
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from department
    where dep_id = #{depId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from department
    where dep_id = #{depId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.usermanage.usermanage.bean.Department" >
    insert into department (dep_id, dep_name, dep_order, 
      dep_pid, dep_state)
    values (#{depId,jdbcType=INTEGER}, #{depName,jdbcType=VARCHAR}, #{depOrder,jdbcType=INTEGER}, 
      #{depPid,jdbcType=INTEGER}, #{depState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyColumn="dep_id" keyProperty="depId" parameterType="com.usermanage.usermanage.bean.Department" >
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        dep_id,
      </if>
      <if test="depName != null" >
        dep_name,
      </if>
      <if test="depOrder != null" >
        dep_order,
      </if>
      <if test="depPid != null" >
        dep_pid,
      </if>
      <if test="depState != null" >
        dep_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="depId != null" >
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="depName != null" >
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="depOrder != null" >
        #{depOrder,jdbcType=INTEGER},
      </if>
      <if test="depPid != null" >
        #{depPid,jdbcType=INTEGER},
      </if>
      <if test="depState != null" >
        #{depState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.usermanage.usermanage.bean.Department" >
    update department
    <set >
      <if test="depName != null" >
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="depOrder != null" >
        dep_order = #{depOrder,jdbcType=INTEGER},
      </if>
      <if test="depPid != null" >
        dep_pid = #{depPid,jdbcType=INTEGER},
      </if>
      <if test="depState != null" >
        dep_state = #{depState,jdbcType=INTEGER},
      </if>
    </set>
    where dep_id = #{depId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.usermanage.usermanage.bean.Department" >
    update department
    set dep_name = #{depName,jdbcType=VARCHAR},
      dep_order = #{depOrder,jdbcType=INTEGER},
      dep_pid = #{depPid,jdbcType=INTEGER},
      dep_state = #{depState,jdbcType=INTEGER}
    where dep_id = #{depId,jdbcType=INTEGER}
  </update>
</mapper>